<div class="list-wrapper">
	<h2>Liste de toutes les tâches</h2>
	<ng-container *ngFor="let task of tasks">
		<app-task-minimized
			(onDeleteTaskEvent)="deleteTask($event)"
			[task]="task">
		</app-task-minimized>
	</ng-container>
</div>

<hr>

<div class="list-wrapper">
	<h2>Liste des tâches par projet</h2>
	<ng-container *ngFor="let project of projects">
		<div class="project">
			<h3>{{ project.projectId }} - {{ project.label }}</h3>
			
			<ng-container *ngFor="let task of project.tasks">
				<app-task-minimized
					(onDeleteTaskEvent)="deleteTask($event)"
					[task]="task">
				</app-task-minimized>
			</ng-container>

		</div>
	</ng-container>
</div>

<hr>

<div class="list-wrapper">
	<h2>Liste des tâches par utilisateur</h2>
	<ng-container *ngFor="let task of filteredByUserTasks">
		<app-task-minimized
			(onDeleteTaskEvent)="deleteTask($event)"
			[task]="task">
		</app-task-minimized>
	</ng-container>
</div>

